html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    font-family: Gill Sans MT, sans-serif;
    font-weight: 100;
    background-color: #F2F4F3;
}
article {
    width: 100%;
    margin-top: -20px;
    display: block;
    background-color: #ffffff;
}
#navbar{
    top: 0px;
    position: fixed;
    z-index: 1000;
    width:100%;
}

#upper {
    background-color: lightgray;
    position: relative;
    height: auto;

}

#downer  {
    background-color: white;
    position: relative;
    text-align: center;
    margin: auto;
    width: 70%;
    height: 600px;
    margin-top: 0;
    -webkit-box-shadow: 1px 3px 12px 1px rgba(61,61,61,1);
    -moz-box-shadow: 1px 3px 12px 1px rgba(61,61,61,1);
    box-shadow: 1px 3px 12px 1px rgba(61,61,61,1);
}

#regart {
    background-color: #ffffff;
    position: relative;
    margin-left: 15%;
    width: 70%;
    height: auto;
    -webkit-box-shadow: 1px 3px 12px 1px rgba(61,61,61,1);
    -moz-box-shadow: 1px 3px 12px 1px rgba(61,61,61,1);
    box-shadow: 1px 3px 12px 1px rgba(61,61,61,1);
}

#tabeldropdown{

}

 #modal{
     margin-left: 30%;
     padding-bottom: 5%;
     z-index: -10;
}

 #loginNav {
     margin-right: 65px;
     margin-top: 6px;

 }
#loginNav > p{
    margin-top: 6px;
    color: aquamarine;
}

 #regist {
     padding-left: 10%;
     padding-top: 5%;
     padding-bottom: 3%;
     background-color: #ffffff;

 }

 #profArt {
     position: relative;
     margin-left: 15%;
     width: 70%;
     height: auto;
     background-color: #ffffff;
     -webkit-box-shadow: 1px 3px 12px 1px rgba(61,61,61,1);
     -moz-box-shadow: 1px 3px 12px 1px rgba(61,61,61,1);
     box-shadow: 1px 3px 12px 1px rgba(61,61,61,1);
 }

 #tittle {
     padding-top: 4%;
     color: #0f0f0f;
 }

 #tittleOvelse {
     margin-left: 30%;
 }

 #tittleAtlet {
     margin-left: 30%;
 }

#tittleAdmin {
    padding-left: 38%;
    padding-top: 10%;
    color: black;
    text-decoration: underline;
}

#tittleProfile {
    padding-left: 10%;
    padding-top:10%;
    color: #122b40;
}

 #myCarousel {
     width: 100%;
 }

 #front-tittle {
     position: absolute;
     width: 100%;
     text-align: center;
     top: 25%;
     color: white;
     z-index: 10;
 }

#big {
    font-size: 60px;
    text-align: center;
}

#admin {
    z-index: 100;
    color: red;
    margin-top: 6px;
    padding:0;
    margin-left: 5px;
}


.carousel-inner img {
    margin: 0;
    padding: 0;
    width: auto;
    height: 100vh;
}

#tabellBrukere {
    padding: 2%;
    border-color: #122b40;
}

.listTabell {

}

#tabellOvelser {
    padding: 2%;
    border-color: #122b40;

}

#tabellAtleter {
    padding: 2%;
    border-color: #122b40;
}

#table-props {
    background-color: #e6e6e6;
}

#table-props2 {
    background-color: #e6e6e6;
}
.panel-footer > table{
    width:50%;
    margin: auto;
    text-align: center;
}
#sportsDiv{
    text-align: center;
    width: 90%;
    margin: auto;
}
#sportsDiv th{
    width: 50%;
    text-align: center;
}
#sportsDiv td{
    width: 50%;
    text-align: center;
}

#profiltabell {
    padding: 2%;
}

#profilinfo {
    padding-left: 100px;
    margin-left: 100px;
    z-index: 100;
    width: 200px;
    height: 400px;
    display: block;
    background-color: #b9def0;
}

#profilTab {
    padding-left: 2%;
    margin-left: 180px;
    z-index: 100;
    width: 600px;
    height: 400px;
    display: block;
    background-color: #b9def0;
}

#profilBar {
    padding-left: 2%;
    margin-left: 100px;
    z-index: 100;
    width: 150px;
    height: 400px;
    display: block;
    background-color: #b9def0;
}