html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "open sans", sans-serif;
    font-weight: 100;
    overflow-x: hidden;
    background-color: white;
}
article {
    height: 1000px;
    width: 70%;
    margin-left: 15.5%;
    display: block;
    background-color: #F0F0F0;
}

#upper {
    background-color: #070E1C;
    position: relative;
    background-color: darkgrey;
    background-repeat: no-repeat;
    height: 100vh;
    margin-top: -1.25%;
}